* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #0A155A;
    font-family: 'Open Sans', sans-serif;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
}